name: Latest blog posts

on:
  schedule:
    - cron: "0 */6 * * *"   # every 6 hours
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme-with-blog:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: JasonEtco/rss-to-readme@v1
        with:
          feed_list: |
            https://dev.to/feed/kafeel-ahmad
            https://medium.com/feed/@kafeel-ahmad
