name: Latest blog posts
on:
  schedule:
    - cron: '0 */6 * * *'   # runs every 6 hours
  workflow_dispatch:

jobs:
  update-readme-with-blog:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: |
                    https://dev.to/feed/kafeel-ahmad
                    https://medium.com/feed/@kafeel-ahmad
          max_post_count: 10
